---
import Dashboard from "@/layouts/Dashboard.astro"
import type { Habitat } from "@/types/habitat"
import EditHabitat from "@components/forms/EditHabitat"
export const prerender = false

const host_url_origin = Astro.url.origin
const data = await fetch(`${host_url_origin}/api/habitats.json`)
const habitats = await data.json()
const {id} = Astro.params

const currentHabitat = habitats.find((habitat:Habitat) => habitat.id === Number(id))
if(!currentHabitat) return Astro.redirect('/404')

---

<Dashboard title={`Zoo Admin - Especie ${currentHabitat.nombre}`}>
    <div class="space-y-8">
        <h1 class="text-3xl font-bold uppercase">{`EDITAR HABITAT`}</h1>
        
        <div class="w-full max-w-lg">
            <h2 class="text-xl font-semibold mb-4">{`${currentHabitat.nombre}`} <span class="text-green-400">({currentHabitat.continente})</span></h2>
        </div>
        <div class="ml-0 max-w-lg">
            <EditHabitat habitat={currentHabitat} client:only="react"/>
        </div>
    </div>
</Dashboard>