---
import Dashboard from "@/layouts/Dashboard.astro"
import type { Itinerario } from "@/types/itinerario"
import EditItinerario from "@components/forms/EditItinerario"
export const prerender = false

const host_url_origin = Astro.url.origin
const data = await fetch(`${host_url_origin}/api/itinerarios.json`)
const itinerarios = await data.json()
const {id} = Astro.params

const currentItinerario = itinerarios.find((itinerario:Itinerario) => itinerario.id === Number(id))
if(!currentItinerario) return Astro.redirect('/404')

---

<Dashboard title={`Zoo Admin - Itinerario ${currentItinerario.id}`}>
    <div class="space-y-8">
        <h1 class="text-3xl font-bold uppercase">{`EDITAR ITINERARIO`}</h1>
        
        <div class="w-full max-w-lg">
            <h2 class="text-xl font-semibold mb-4">Itinerario #{`${currentItinerario.id}`}</h2>
        </div>
        <div class="ml-0 max-w-lg">
            <EditItinerario itinerario={currentItinerario} client:only="react"/>
        </div>
    </div>
</Dashboard>